@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  color:#5b5b5b;
  font-family: Nunito Sans, sans-serif;
}

main {
  width: 50vw;
  margin: -30px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #ab9df2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}

.page-header h2 {
  color: white;
}

.page-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  gap: 15px;
}

.inc-exp-container {
  padding: 10px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}

.inc-exp-container hr {
  border: none;
  height: 30px;
  width: .5px;
  background-color: lightgray;
}

.transaction-container {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}

.transaction-container h4 {
  text-align: center;
  margin-bottom: 10px;
}

.transactions {
  padding: 10px;
  max-height: 195px;
  overflow-y: auto;
}

.transactions::-webkit-scrollbar {
  display: none;
}

.transactions li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  transition: .5s;
}

.transactions li.income {
  border-right: 4px solid #a9dc76;
}

.transactions li.expense {
  border-right: 4px solid #ff6188;
}

.form-add-transaction {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 15px;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.add.disabled, .add.disabled:hover {
  opacity: 0.65;
  cursor: not-allowed;
}

.add {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #ab9df2;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  transition: .5s;
}

.add:hover {
  opacity: .8;
}

label {
  font-size: 10px;
}

input[type="text"], input[type="number"] {
  width: 250px;
  font-size: 11px;
  color:#5b5b5b;
  padding: 12px;
  border: none;
  background-color: #fafafa;
  border-radius: 5px;
  border-bottom: 1px solid #ab9df2;
  transition: .5s;
}

input[type="text"]:focus, input[type="number"]:focus {
  outline: none;
}

#balance, #incomes, #expenses {
  transition: .5s;
}

.remove {
  cursor: pointer;
  opacity: .5;
  margin-right: 5px;
}

.remove:hover {
  color: #ff6188;
  opacity: 1;
}

.divisor {
  border: none;
  height: .5px;
  width: 80%;
  background-color: lightgray;
}

.blue {
  color: #78dce8;
}

.green {
  color: #a9dc76;
}

.red {
  color: #ff6188;
}

.white {
  color: white;
}